/* styles/Header.module.css */
.navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    padding: 1em;
    background-color: #ffffff;
}

.navbar a {
    color: rgb(64, 6, 6);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-right: 10px; /* Adiciona margem à direita de cada link */
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    border-bottom: 2px solid transparent;
}

.navbar a:last-child {
    margin-right: 0; /* Remove a margem do último item */
}

.navbar a:hover {
    background-color: #800020;
    color: black;
    border-bottom: 2px solid currentColor;
}
